*, *:before, *:after {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  body{    
    background-color: white;
    margin:20px;
    overflow-x: hidden;
  }

.grid_top{
    display: grid;
    grid-template-columns:  200px 800px 200px 200px 50px 50px;
    grid-template-rows: 100px;
    justify-content: center;
}

#img{
    height: 50px;
  }
  
  .grid_text3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center center;
  }

  .grid_lang{
    margin-top:18px;
  }

  .button_top{
    width: 200px;       
    height: 50px;    
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    background-color: transparent;
    border:none;
    
  }

  .button_top:hover{
    border-bottom:3px solid black;    
  }

  .promo{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  #textbox{
    background-color: white;
    width: 620px;
    height:58px;   
    font-size:14pt;
    text-align: center;
    border: 1px solid black;
    border-radius: 29px;
  }

  .search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0%;
  }

  .popular_text{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin-top:2%;
    margin-bottom:2%;
    width:70%;
  }

  .grid_body{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 100px 100px;
    justify-content: center;
    gap:15px;
    margin-bottom:150px;
  }

  .city_pic{
    width: 100px;
    height: 100px;
  }

  .city{
    cursor: pointer;
    text-align: left;
    display: inline-block;
    font-size: 15px;
    border:none;
    background-color: lightgray;
  }

  .city:hover{
    background-color: gray;
  }

  .div_p1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 200px;
    margin:auto;
  }

  .text_p1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
  }
  

